                                            /*  Small Mobile */

@media screen and (max-width: 600px)



{

    .navbar{
        width: 100%;background-color: black;
        padding-left: 0px;
    }

    .nav_sub1 img{
        align-items: center;
        justify-content: center;
        width: 210px;   
        height: 70px;
        /* padding-left: 0%; */
        
    }

    .flex_item1{
        padding-left: 55px;
    }


    .flex_item2{
        display: none;
        background-color: brown;
    }
    .container h1{
        font-size: 25px;
        margin-left: -40px;
        padding-top: 100px;
    }
    .container{
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 150px;
    }

.boxs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.blue{
    width: 70%;
}
.orange{
    width: 70%;
    margin-top: 20px;
}
.yellow{
    width: 70%;
     margin-top: 20px;
}
.container_1{
    padding: 50px !important
}
.container_1 h4{
    padding-top: 10%;
}


    .container_1 h1{
        font-size: 16px;
        padding-top: 40px;

    }
    .container_1 p{
        display:contents;
        justify-content: center;
        /* padding-left: 5px; */
        width: 70%;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 13px;

    }
    

    .immmg{
        /* justify-content: center; */
        display: flex;
        padding-top: 40px;
        width: 300px;
        /* padding-bottom: 50px; */
    }
    .line{
        text-align: center;
        justify-items: center;
/* display: flex; */
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        /* margin-left: 30px; */
    }



/* ---------------------------------------------------box1-------------------------------- */
.boxs1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.blue1{
    width: 70%;
}
.orange1{
    width: 70%;
    margin-top: 20px;
}
.yellow1{
    width: 70%;
     margin-top: 20px;
}






}

            /*  Medium Moble  */

@media (min-width:330px) and (max-width:420px)
{

    .flex_item1{
        padding-left: 80px;
    }


}

    /* Large Mobile */


@media (min-width:420px) and (max-width:480px){

    .flex_item1{
        padding-left: 110px;
    }

}


            /* Tablet */


            
@media (min-width:600px) and (max-width:800px){

    .flex_item1{
        padding-left: 60px;
    }

    .flex_item2 {

        display: none;

        width: 75%;
        display: flex;
    
        padding-right: 0px;
        padding: 0px;
        padding-top: 30px;
        
    }

    .a_class {

        /* padding: 8px 16px; */
        float: left;
        width: auto;
        border: none;
        /* display: block; */
        display: flex;
        outline: 0;
        white-space: normal;
    }
    .nav_sub1 img{

        width: 100px;
            height: 70px;
            display: flex;
        }

}